<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LearnOn - 관리자 페이지</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- 한글폰트 -->
    <link rel="stylesheet" href="css/reset.css">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand" style="display: flex;align-items: center;width: 100%;margin: 0;">
                	<img class="projectLogo" src="img/learn_on_logo2.png" alt="learnLogo" style="width: 150px; margin: 10px auto; border-radius: 20px;">
<!--                     <h3 class="text-primary">LearnOn</h3> -->
                </a>
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link"><i class="fas fa-columns" style="margin-right: 10px;"></i>메인</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-chalkboard" style="margin-right: 10px;"></i>클래스 관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="class_add.html" class="dropdown-item">클래스 등록</a>
                            <a href="class_list.html" class="dropdown-item">클래스 목록</a>
                            <a href="class_list_delete.html" class="dropdown-item">삭제된 클래스 목록</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fas fa-users" style="margin-right: 10px;"></i>회원 관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="member_list.html" class="dropdown-item">회원 목록</a>
                            <a href="member_list_instructor.html" class="dropdown-item active">강사 회원 목록</a>
                            <a href="member_list_delete.html" class="dropdown-item">탈퇴한 회원 목록</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-credit-card" style="margin-right: 10px;"></i>결제 관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="payment_list.html" class="dropdown-item">결제 내역 관리</a>
                            <a href="payment_list_coupon.html" class="dropdown-item">쿠폰 관리</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2" style="margin-right: 10px;"></i>고객 지원 관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="borad_management.html" class="dropdown-item">게시판 관리</a>
                            <a href="borad_faq.html" class="dropdown-item">FAQ 관리</a>
                            <a href="borad_review.html" class="dropdown-item">수강 후기 관리</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-chart-line" style="margin-right: 10px;"></i>통계</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="chart_member.html" class="dropdown-item">회원별 통계</a>
                            <a href="chart_class.html" class="dropdown-item">클래스별 통계</a>
                            <a href="chart_payment.html" class="dropdown-item">결제 통계</a>
                            <a href="chart_review.html" class="dropdown-item">수강 후기 통계</a>
                        </div>
                    </div>
                </div>
                <form class="d-none d-md-flex ms-4 searchbar">
                    <input class="form-control border-0" type="search" placeholder="메뉴 검색">
                </form>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <h4 class="pageSubject">회원 관리</h4>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
<!--                             <span class="d-none d-lg-inline-flex">알림</span> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">프로필이 업데이트 되었습니다.</h6>
                                <small>15분 전</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">신규 가입 되었습니다.</h6>
                                <small>15분 전</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">비밀번호가 변경되었습니다</h6>
                                <small>15분 전</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">모든 알림 확인</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-user" alt="" style="width: 40px; height: 40px;"></i>
                            <span class="d-none d-lg-inline-flex">user</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">내 프로필</a>
                            <a href="#" class="dropdown-item">계정 설정</a>
                            <a href="#" class="dropdown-item">로그아웃</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Blank Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="bg-light rounded p-4">
					<div class="d-flex mb-5">
						<h5 class="me-auto tableSubject">강사 회원 목록</h5>
						<button type="button" class="btn btn-lg btn-primary ms-3">강사 등록</button>
						<button type="button" class="btn btn-lg btn-primary ms-3">강사 수정</button>
						<button type="button" class="btn btn-lg btn-primary ms-3">강사 삭제</button>
					</div>
					<div class="d-flex input-group mb-3">
						<input type="text" class="form-control" placeholder="회원 이름 검색" aria-label="Recipient's username" aria-describedby="button-addon2">
						<button class="btn btn-primary" type="button" id="button-addon2">검색</button>
					</div>
					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">회원 번호</th>
									<th scope="col">아이디</th>
									<th scope="col">이름</th>
									<th scope="col">닉네임</th>
									<th scope="col">생년월일</th>
									<th scope="col">성별</th>
									<th scope="col">이메일</th>
									<th scope="col">연락처</th>
									<th scope="col">상태</th>
									<th scope="col">승인여부</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th><input class="form-check-input" type="checkbox" id="gridCheck1"></th>
									<td class="col-1"><input class="form-control" type="text" placeholder="회원 번호" aria-label="default input example" value="001"></td>
									<td class="col-1"><input class="form-control" type="text" placeholder="아이디" aria-label="default input example" value="admin1234"></td>
									<td class="col-1"><input class="form-control" type="text" placeholder="이름" aria-label="default input example" value="홍길동"></td>
									<td class="col-1"><input class="form-control" type="text" placeholder="닉네임" aria-label="default input example" value="admin"></td>
									<td class="col-1"><input class="form-control" type="text" placeholder="생년월일" aria-label="default input example" value="901010"></td>
									<td class="col-1">
										<select class="form-select" aria-label="Default select example">
											<option value="1">남자</option>
											<option value="2">여자</option>
										</select>
									</td>
									<td>
										<div class="input-group ">
											<input type="text" class="form-control" placeholder="Username" aria-label="Username" value="hong091010">
											<span class="input-group-text">@</span>
											<input type="text" class="form-control" placeholder="Server" aria-label="Server" value="gmail.com">
                 		  				</div>
                          		 	</td>
									<td><input class="form-control " type="text" placeholder="연락처" aria-label="default input example" value="010-1234-5678"></td>
									<td class="col-1">
										<select class="form-select " aria-label="Default select example">
											<option value="1">정상</option>
											<option value="2">휴면</option>
										</select>
									</td>
									<td class="col-1">
										<select class="form-select " aria-label="Default select example">
											<option value="1">승인대기</option>
											<option value="2">승인완료</option>
											<option value="3">반려</option>
										</select>
                                 	</td>
                             	</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            <!-- Blank End -->

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">LearnOn</a>, Online class 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            3th Class By 1st Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>