<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--     <settings> -->
<!--         DB 조회결과 snake_case -> camelCase 변환 -->
<!--         <setting name="mapUnderscoreToCamelCase" value="true" /> -->
<!--         <setting name="callSettersOnNulls" value="false"/> true: 쿼리 결과 필드가 null인 경우, 누락이 되서 나오는데 누락이 안되게 하는 설정 -->
<!--         <setting name="jdbcTypeForNull" value="NULL"/> 쿼리에 보내는 파라미터가 null인 경우, 오류 발생하는 것 방지  예) #{search.user} -->
<!--     </settings> -->
	<!-- 
	기본 문법 : <typeAlias type="실제클래스타입(패키지명포함)" alias="별칭(약자)" />
	-->
	<typeAliases>
		<typeAlias type="com.itwillbs.learnon.vo.MemberVO" alias="member" />
<!-- 		<typeAlias type="com.itwillbs.learnon.vo.BoardVO" alias="board" /> -->
		<typeAlias type="com.itwillbs.learnon.vo.CourseVO" alias="course"/>
		<typeAlias type="com.itwillbs.learnon.vo.CommonCodeTypeVO" alias="codeType"/>
		<typeAlias type="com.itwillbs.learnon.vo.NoticeBoardVO" alias="noticeBoard" />
		<typeAlias type="com.itwillbs.learnon.vo.WishlistVO" alias="wish" />
		<typeAlias type="com.itwillbs.learnon.vo.MyCourseVO" alias="mycourse" />
		<typeAlias type="com.itwillbs.learnon.vo.MyReviewVO" alias="myreview" />
		<typeAlias type="com.itwillbs.learnon.vo.FaqVO" alias="faq" />
	</typeAliases>
</configuration>