<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.learnon.mapper.AdminMapper">

	<!--  클래스 -->
	<insert id="insertClass">
		<selectKey keyProperty="class_id" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(CLASS_ID), 0)+1
			FROM CLASS
		</selectKey>
		INSERT
		INTO CLASS
		VALUES (
			#{class_id}
			, #{class_title}
			, #{mem_id}
			, #{class_intro}
			, #{class_price}
			, #{class_category}
			, curdate()
			, #{class_runtime}
			, #{class_pic1}
			, #{class_contents}
			, #{class_status})
	</insert>
	
	<update id="insertClassPic">
		UPDATE CLASS
		SET class_pic1 = #{class_pic1}
		WHERE  class_id = #{class_id}
	</update>
	
	<insert id="curriculum">
		<selectKey keyProperty="class_id" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(CLASS_ID), 0)
			FROM CLASS
		</selectKey>
		INSERT
		INTO CURRICULUM
		VALUES (
			#{class_id} + 1
			, #{cur_id}
			, #{cur_title}
			, #{cur_video}
			, ${cur_runtime})
	</insert>
	
	<update id="insertCurVideo">
		<selectKey keyProperty="cur_id" resultType="int" order="BEFORE">
			SELECT MAX(CUR_ID)
			FROM CURRICULUM
		</selectKey>
		UPDATE CURRICULUM
		SET cur_video = #{cur_video}
		WHERE cur_id = #{cur_id}
	</update>
	
	<select id="selectSubCate" resultType="admin">
		SELECT 
				C.CODEID AS CODEID_MAINCATE
		        , C.CODENAME AS CODENAME_MAINCATE
		        , T.CODETYPE_ID AS CODETYPE_ID_SUBCATE
		        , T.NAME AS NAME_SUBCATE
		FROM COMMONCODE C
		JOIN COMMONCODETYPE T
		ON C.CODEID = T.CODETYPE
		WHERE 
			C.CODEID = #{codeid_maincate}
	</select>
	
	<select id="getMainCate" resultType="map">
		SELECT *
		FROM COMMONCODE
	</select>
	
	<select id="getSubCate" resultType="map">
		SELECT *
		FROM COMMONCODETYPE
	</select>
	
	<select id="getClassList">
		SELECT *
		FROM CLASS
	</select>
	
	<select id="getClass" resultType="int">
		SELECT CLA.CLASS_ID, CLA.CLASS_TITLE, CLA.MEM_ID
		   , CLA.CLASS_INTRO, CLA.CLASS_PRICE, CLA.CLASS_CATEGORY
	       , CLA.CLASS_REG_DATE, CLA.CLASS_RUNTIME, CLA.CLASS_PIC1
	       , CLA.CLASS_CONTENTS, CLA.CLASS_STATUS, COMTY.CODETYPE
	       , COMTY.CODETYPE_ID, COM.CODEID, COM.CODENAME
	       , NAME
		FROM CLASS CLA JOIN COMMONCODETYPE COMTY
		ON CLA.CLASS_CATEGORY = COMTY.NAME
		JOIN COMMONCODE COM
		ON  COM.CODEID = COMTY.CODETYPE
		WHERE CLA.CLASS_ID = #{CLASS_ID}
	</select>
	
	<select id="getMemberList"> 
		SELECT *
		FROM MEMBER
	</select>
	
	<insert id="insertMainCate">
		INSERT
		INTO COMMONCODE
		VALUES (
			#{codeid_maincate}
			, #{codetype_maincate}
			, #{codename_maincate}
			, #{description_maincate})
	</insert>
	
	<insert id="insertSubCate">
		INSERT
		INTO COMMONCODETYPE
		VALUES (
			#{codetype_subcate}
			, #{codetype_id_subcate}
			, #{name_subcate}
			, #{description_subcate}
			, #{order_subcate})
	</insert>
	
	<delete id="deleteMainCate">
		DELETE
		FROM COMMONCODE
		WHERE CODEID = #{codeid}
	</delete>
	
	<delete id="deleteSubCate">
		DELETE
		FROM COMMONCODETYPE
		WHERE CODETYPE_ID = #{old_codetype_subcate}
	</delete>
	
	<update id="updateMainCate">
		UPDATE COMMONCODE
		SET
			CODETYPE = #{old_codetype_maincate}
			, CODEID = #{old_codeid_maincate}
			, CODENAME = #{old_codename_maincate}
			, DESCRIPTION = #{old_description_maincate}
		WHERE CODEID = #{main_checkCodeid}
	</update>
	
	<update id="updateSubCate">
		UPDATE COMMONCODETYPE
		SET
			CODETYPE = #{old_codetype_subcate}
			, CODETYPE_ID = #{old_codetype_id_subcate}
			, NAME = #{old_name_subcate}
			, DESCRIPTION = #{old_description_subcate}
			, `ORDER` = #{old_order_subcate}
		WHERE CODETYPE_ID = #{sub_checkCodeid}
	</update>

</mapper>