<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.learnon.mapper.CouponMapper">
	<!-- 쿠폰 조회 -->
  	<select id="selectCoupon" resultType="map">
	  	SELECT 
			mc.MEM_ID
		    , mc.COUPON_ID 
		    , c.COUPON_CODE -- 쿠폰코드
		    , c.COUPON_NAME
		    , c.DISCOUNT_TYPE -- 쿠폰유형(1:퍼센트,2:금액)
		    , c.DISCOUNT_PERCENT
			, c.DISCOUNT_AMOUNT 
		    , mc.ISSUE_DATE -- 발급날짜
		    , c.C_EXPIRY_DATE -- 유효기간
		    , c.COUPON_STATUS -- 쿠폰상태(1:사용가능,2:사용불가)
		    , mc.COUPON_ISUSED -- 쿠폰사용여부(1:미사용,2:사용완료)
		FROM MYCOUPON mc JOIN COUPONINFO c
		ON c.COUPON_ID = mc.COUPON_ID
		WHERE mc.MEM_ID = #{sId}
		AND c.COUPON_STATUS = 1
		AND mc.COUPON_ISUSED = 1
		ORDER BY c.C_EXPIRY_DATE; -- 유효기간 임박한 순으로
  	</select>
  	
  	
  	<!-- 쿠폰 개수 조회 -->
  	<select id="selectCouponCount" resultType="int">
  		SELECT COUNT(*) AS '사용가능쿠폰갯수'
		FROM MYCOUPON
		WHERE MEM_ID = #{sId}
		AND COUPON_ISUSED = 1
  	</select>
  
  
  	<!-- 쿠폰 코드 입력시 조회 후 인서트 -->
  	<insert id="insertCoupon" parameterType="map">
	  	INSERT INTO MYCOUPON (MEM_ID, COUPON_ID, ISSUE_DATE, COUPON_STATUS, COUPON_ISUSED)
			SELECT	#{mem_id}
			        , ci.COUPON_ID
					, sysdate()
			        , ci.COUPON_STATUS
			        , 1		-- 조회한 쿠폰코드가 있을경우 1로 지정
			FROM COUPONINFO ci
		WHERE ci.COUPON_CODE = #{coupon_code} -- 입력한 쿠폰코드
		AND ci.COUPON_STATUS != 2	-- 쿠폰상태가 2이면 삽입불가 조건
		AND NOT EXISTS (	-- 이미 보유한 쿠폰이면 삽입불가 조건
			SELECT 1
		    FROM MYCOUPON mc
			WHERE mc.COUPON_ID = ci.COUPON_ID 
			AND mc.MEM_ID = #{mem_id}
		)
  	</insert>
 	
 	<!-- 쿠폰 사용 후 사용여부 업데이트 -> 결제 성공 후 (COUPON_ISUSED = 2)-->
 	 	
  	<!-- ===================== 관리자용 쿠폰 ======================= -->
  	<select id="selectAdmCoupon" resultType="coupon">
  		SELECT
  			COUPON_ID
  			, COUPON_NAME
  			, COUPON_CODE
  			, DISCOUNT_TYPE
  			, DISCOUNT_PERCENT
  			, DISCOUNT_AMOUNT
  			, C_EXPIRY_DATE
  			, COUPON_STATUS
  		FROM	COUPONINFO
  		<if test="!searchKeyword.equals('')">
		WHERE
			<choose>
				<when test="searchType.equals('subject')">
					COUPON_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('code')">
					COUPON_CODE LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					1 = 1
				</otherwise>
			</choose>
		</if>
		LIMIT	#{startRow}
				, #{listLimit}
  	</select>
  	<select id="selectAdmCouponCount" resultType="int">
  		SELECT	COUNT(*)
  		FROM	COUPONINFO
  		<if test="!searchKeyword.equals('')">
		WHERE
			<choose>
				<when test="searchType.equals('subject')">
					COUPON_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('code')">
					COUPON_CODE LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<otherwise>
					1 = 1
				</otherwise>
  			</choose>
 		</if>
  	</select>
  	
  	<select id="selectAdmIdxCoupon" resultType="coupon">
  		SELECT
  			COUPON_ID
  			, COUPON_NAME
  			, COUPON_CODE
  			, DISCOUNT_TYPE
  			, DISCOUNT_PERCENT
  			, DISCOUNT_AMOUNT
  			, C_EXPIRY_DATE
  			, COUPON_STATUS
  		FROM	COUPONINFO
  		WHERE	COUPON_ID = #{coupon_id}
  	</select>
  	
  	<insert id="insertAdmCoupon">
  		<selectKey keyProperty="coupon_id" resultType="int" order="BEFORE">
  			SELECT	IFNULL(MAX(coupon_id),0)
  			FROM	COUPONINFO
  		</selectKey>
  		INSERT
  		INTO	COUPONINFO(
  				COUPON_ID
				, COUPON_NAME
				, COUPON_CODE
				, DISCOUNT_TYPE
				, DISCOUNT_PERCENT
				, DISCOUNT_AMOUNT
				, C_EXPIRY_DATE
				, COUPON_STATUS
  				)
  		VALUES	(
  				#{coupon_id} + 1
  				, #{coupon_name}
  				, #{coupon_code}
  				, #{discount_type}
  				, #{discount_percent}
  				, #{discount_amount}
  				, #{c_expiry_date}
  				, 1					-- 쿠폰상태(1:사용가능, 2:사용불가)
  			)
  	</insert>
  	
  	<delete id="deleteAdmCoupon">
  		DELETE
  		FROM	COUPONINFO
  		WHERE	COUPON_ID = #{coupon_id}
  	</delete>
  	
  	<delete id="deleteAdmMyCoupon">
  		DELETE
  		FROM	MYCOUPON
  		WHERE	COUPON_ID = #{coupon_id}
  	</delete>
  	
  	<update id="updateCouponInfo">
  		UPDATE	COUPONINFO
  		   SET	COUPON_CODE = #{coupon_code}
  				, COUPON_NAME = #{coupon_name}
  				, DISCOUNT_TYPE = #{discount_type}
  				, DISCOUNT_AMOUNT = #{discount_amount}
  				, DISCOUNT_PERCENT = #{discount_percent}
  				, C_EXPIRY_DATE = #{c_expiry_date}
  				, COUPON_STATUS = #{coupon_status}
  		WHERE	COUPON_ID = #{coupon_id}
  	</update>
  	
  	<update id="updateCouponStatus">
  		UPDATE MYCOUPON
  		   SET COUPON_STATUS = #{coupon_status}
  		 WHERE COUPON_ID = #{coupon_id}
  	</update>
  	
  </mapper>
