<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.learnon.mapper.MainMapper">
	
	<!-- 메인 인기클래스(수강순) -->
	<select id="selectBestClassList" resultType="map">
		-- 메인 인기클래스
		SELECT DISTINCT
				O.CLASS_ID
			   , O.CLASS_COUNT
			   , C.CLASS_TITLE
			   , C.CLASS_CATEGORY
			   , C.MEM_ID AS TEACHER_ID
			   , M.MEM_NAME AS TEACHER_NAME
			   , M.MEM_NICK AS TEACHER_NICK
			   , C.CLASS_INTRO
			   , C.CLASS_PRICE
			   , C.CLASS_CATEGORY
			   , C.CLASS_REG_DATE
			   , C.CLASS_RUNTIME
			   , C.CLASS_PIC1 AS CLASS_PIC
			   , C.CLASS_STATUS
			   , IFNULL((SELECT TRUNCATE(IFNULL(AVG(REVIEW_SCORE), 0), 1)
					FROM REVIEW
				   WHERE CLASS_ID = C.CLASS_ID
				   GROUP BY CLASS_ID), 0) AS REVIEW_SCORE
		  FROM (SELECT CLASS_ID
				     , COUNT(CLASS_ID) AS CLASS_COUNT
			   FROM ORDER_INFO
			  GROUP BY CLASS_ID
			  ORDER BY CLASS_COUNT DESC
			  LIMIT 8) O 
		  JOIN CLASS C ON O.CLASS_ID = C.CLASS_ID
		  LEFT JOIN MEMBER M ON C.MEM_ID = M.MEM_ID
		  LEFT JOIN REVIEW R ON R.CLASS_ID = C.CLASS_ID
	</select>
	<select id="selectNewClassList" resultType="map">
		-- 최신 오픈클래스
		SELECT DISTINCT 
			   C.CLASS_ID
			   , C.CLASS_TITLE
			   , C.CLASS_CATEGORY
			   , C.MEM_ID AS TEACHER_ID
			   , M.MEM_NAME AS TEACHER_NAME
			   , M.MEM_NICK AS TEACHER_NICK
			   , C.CLASS_INTRO
			   , C.CLASS_PRICE
			   , C.CLASS_CATEGORY
			   , C.CLASS_REG_DATE
			   , C.CLASS_RUNTIME
			   , C.CLASS_PIC1 AS CLASS_PIC
			   , C.CLASS_STATUS
			   , IFNULL((SELECT TRUNCATE(IFNULL(AVG(REVIEW_SCORE), 0), 1)
						   FROM REVIEW
				   		  WHERE CLASS_ID = C.CLASS_ID
				   		  GROUP BY CLASS_ID), 0) AS REVIEW_SCORE
		  FROM CLASS C
		  LEFT JOIN MEMBER M ON C.MEM_ID = M.MEM_ID
		  LEFT JOIN REVIEW R ON R.CLASS_ID = C.CLASS_ID
		 ORDER BY C.CLASS_REG_DATE DESC
		 LIMIT 8
	</select>
</mapper>

