<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.learnon.mapper.NoticeBoardMapper">
	
	<select id="selectBoardList" resultType="noticeBoard">
		SELECT NOTICE_IDX
			 , MEM_ID
			 , NOTICE_SUBJECT
		     , NOTICE_CONTENT
			 , NOTICE_DATE
		     , NOTICE_CATE
		     , NOTICE_FILE 
		     , NOTICE_READ_COUNT
		  FROM	NOTICE
		<choose>
			<when test="sort.equals('latest')">
				ORDER
		    	   BY	NOTICE_DATE DESC
			</when>
			<when test="sort.equals('oldest')">
				ORDER
		    	   BY	NOTICE_DATE ASC
			</when>
			<otherwise>
				ORDER
				   BY	NOTICE_DATE DESC
			</otherwise>
		</choose>
		LIMIT	#{startRow}
				, #{listLimit}
		
	</select>
	
	<select id="selectBoardListCount" resultType="int">
		SELECT	COUNT(*)
		FROM	NOTICE
	</select>
	
	<select id="selectNoticeBoard" resultType="noticeBoard">
		SELECT	*
		FROM	NOTICE
		WHERE	NOTICE_IDX = #{NOTICE_IDX}
	</select>
	
	<insert id="insertNoticeBoard">
		<selectKey keyProperty="NOTICE_IDX" resultType="int" order="BEFORE" >
			SELECT	IFNULL(MAX(NOTICE_IDX), 0)
			FROM	NOTICE
		</selectKey>
		INSERT
		INTO	NOTICE
		VALUES (
			#{NOTICE_IDX} + 1
			, #{MEM_ID}
			, #{NOTICE_SUBJECT}
			, #{NOTICE_CONTENT}
			, NOW()
			, 1					--	NOTICE_CAFE
			, #{NOTICE_FILE}	
			, 0					--	NOTICE_READ_COUNT
			)
		
	</insert>
	
	
	
</mapper>