<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.learnon.mapper.PayMapper">
	<!-- resultMap을 사용한 MyBatis 자동 매핑 -->
	<resultMap id="CartToOrderMap" type="order">
		<result property="cartItemIdx" column="CARTITEM_IDX"/>
	   <result property="classId" column="CLASS_ID"/>
	    <result property="memId" column="MEM_ID"/>
	    <result property="classTitle" column="CLASS_TITLE"/>
	    <result property="teacherName" column="MEM_NAME"/>
	    <result property="classPrice" column="CLASS_PRICE"/>
	    <result property="classPic1" column="CLASS_PIC1"/>
	</resultMap>
	<!-- 선택된 장바구니 상품 조회 -->
    <select id="selectedCart" parameterType="list" resultType="order" resultMap="CartToOrderMap">
        SELECT
	        ca.CARTITEM_IDX, 
	        cl.CLASS_ID, 
	        cl.CLASS_TITLE, 
	        m.MEM_ID, 
	        m.MEM_NAME, 
	        cl.CLASS_PRICE, 
	        cl.CLASS_PIC1
	    FROM CLASS cl
	    LEFT JOIN MEMBER m ON cl.MEM_ID = m.MEM_ID
	    JOIN CART ca ON cl.CLASS_ID = ca.CLASS_ID
	    WHERE ca.CARTITEM_IDX IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
<!-- 	   foreach [arg0, collection, list]에러시.. collection="list" 이걸로 해야됨!!!!!!!!!!!!!! 이거때메 하루종일 삽질했네...-->
	        #{item}
	    </foreach>
    </select>
    
    <!-- 주문회원 정보 조회 -->
    <select id="selectMember" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE mem_id = #{sId}
	</select>
	
	<!-- 결제 정보 저장 -->
	<insert id="insertPayInfo">
		INSERT INTO PAY_INFO
		( 	MERCHANT_UID
			, CLASS_NAME
			, MEM_NAME
			, PRICE
			, PAY_METHOD
			, PAY_STATUS
			, PAY_DATE
			, IMP_UID
			, CARD_NAME
			, CARD_NUM
			, BANK_NAME
			, BANK_NUM
			, APPLY_NUM
			, RECEIPT_URL
		)
		VALUES 
		(	#{merchant_uid}
			, #{class_name}
			, #{mem_name}
			, #{price}
			, #{pay_method}
			, CASE
				WHEN #{pay_status} = 'paid' THEN 1		-- 결제완료
				WHEN #{pay_status} = 'failed' THEN 2	-- 결제취소
				WHEN #{pay_status} = 'ready' THEN 3		-- 결제대기(무통장입금) 
				ELSE NULL
			  END
			, CURRENT_TIMESTAMP()
			, #{imp_uid}
			, #{card_name}
			, #{card_num}
			, #{bank_name}
			, #{bank_num}
			, #{apply_num}
			, #{receipt_url}
		)
	</insert>
	
	<!-- 주문 정보 저장 -->
	<insert id="insertOrderInfo">
		<selectKey keyProperty="order_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(order_idx), 0)
			FROM ORDER_INFO
		</selectKey>
		INSERT INTO ORDER_INFO
		( 
			ORDER_IDX
			, MERCHANT_UID
			, MEM_ID
			, CLASS_ID
			, CLASS_PRICE
			, COUPON_CODE
			, PAY_PRICE
			, PAY_DATE
			, PAY_STATUS
		)
		VALUES
		(
			#{order_idx} + 1
			, #{merchant_uid}
			, #{mem_id}
			, #{class_id}
			, #{class_price}
			, #{coupon_code}
			, #{price}
		)
	</insert>
	
	
	
	
	<!-- 장바구니 내역 삭제 -->
    <delete id="deleteCart">
    	DELETE FROM CART
    	WHERE CARTITEM_IDX = #{cartItemIdx}
    </delete>
    
	<!-- 결제 완료시 사용한 쿠폰 상태 업데이트 -->
	
</mapper>