<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.learnon.mapper.PrePaymentMapper">
	<insert id="save">
		INSERT INTO PAYTEST (
			MERCHANT_UID
			, CLASS_NAME
			, MEM_NAME
			, PRICE
			, PAY_METHOD
			, PAY_STATUS -- 1:결제완료, 2:취소, 3:입금대기(default)
			, PAY_DATE
		)
		VALUES (
			#{merchantUid}
			, #{className}
			, #{memName}
			, #{price}
			, #{payMethod}
			, 3	
			, CURRENT_TIMESTAMP
		); 
	</insert>

</mapper>