@charset "UTF-8";

#commandArea {
	margin: auto;
	width: 1024px;
	display: flex;
   	flex-direction: column;
/* 	border: 1px solid black; */
}

.title_notice, .title_search {
	flex: none;
}


.title_search {
    margin-left: auto;
}

.title_notice, .title_search {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, .4);
}

/* .search { */
/*     margin-left: auto; */
/* } */


/* .title.search { */
/* /* 	float: right; */ */
/* /* 	text-align: right; */ */
/* 	margin-left: auto; */
/* } */



/* .title.text { */
/* 	text-align: left; */
/* 	font-size: x-large; */
/* 	margin-bottom: 20px; */
/* } */







table, th, td {
	border: 1px solid black;
}

td:nth-child(2) {
	text-align: left;
}

td {
	display: table-cell;
}
a {
    text-decoration: none;
    color: black;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
/* select,td { */
/*     vertical-align: middle */
/* } */

#pageList table {
	margin: auto;
	width: 1024px;
}

#pageList {
	margin: auto;
	width: 1024px;
	text-align: center;
}
#pagingArea {
	margin: auto;
	width: 1024px;
	text-align: center;
}

.btn_submit {
	float: right;
} 




