@charset "UTF-8";
html, body {
    height: 100%; /* 문서 전체의 높이를 100%로 설정 */
    margin: 0; /* 기본 margin 제거 */
}
.wrapper {
    display: flex;
    justify-content: center; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 */
    flex-direction: column; /* 방향 설정 */
    gap: 1rem;
    min-height: 100vh; /* 화면 전체 높이를 차지 */
}

.wrapper .ord-box {
	margin: 2rem;
    padding: 3rem;
    background: var(--white);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
/*     display: flex; */
/*     justify-content: center; */
    /* gap: 1rem; */
    width: 600px;
    height: 800px;}
.wrapper .ord-box .infos {flex: 1 1 0;}
.wrapper .ord-box .infos .status{    
	display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 700;
    background: var(--primary);
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 10px;}
.fa-check:before {
    content: "\f00c";
    margin-right: 5px;}
.wrapper .ord-box .infos .info{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 6px;
    color: var(--dark);
    font-weight: 800;
    margin: 30px;}
.wrapper .ord-box .infos .info .num{
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--primary);}


.wrapper .ord-box .infos .products {
	padding: 1rem 10px;
	font-size: 1rem;
	gap: 6px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 30px;}
.wrapper .ord-box .infos .products .ttl {
	display: flex;
    justify-content: center;
    padding-bottom: 6px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--dark);
}


.wrapper .ord-box .price {
	flex: 0 0 110px;
	font-size: 1rem;
	font-weight: 500;
	color: var(--gray);
	margin-top: 50px;
	}
.wrapper .ord-box .price dl {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height:1.6rem;}
	
.wrapper .ord-box .price .price-ttl{
	font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.wrapper .ord-box .price dl dd {font-weight: 700;}
.wrapper .ord-box .price dl.total {margin: 0.4rem 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding: 0.4rem 0;}

/* 버튼 */
.btns-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btns-box .btnHome, .btns-box .btnMypage, .btns-box .btnReceipt{
    border-radius: 6px;
    background-color: var(--primary);
    font-weight: 600;
    font-size: 1rem;
    color: var(--white);
    padding: 10px;
    flex: 1 0 0;
    border: 0;
}


@media screen and (max-width:968px){
    .wrapper .ord-box {display:block;gap:0;}
    .wrapper .ord-box .infos .products {padding:1rem 0;}
}